<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="HandheldFriendly" content="True">

		<title>{{COMPANY_NAME}}</title>

		<link rel="stylesheet" type="text/css" media="screen" href="static/concise/css/concise.min.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="static/concise/css/narrow.css" />
	
		<link 	href="/static/css/demosite.css" 	rel="stylesheet">
		<script src="static/js/demosite.js" 	 	language="javascript"	type="text/javascript"></script>
	</head>
	
	<body>
		{% block body-content %}
		{% endblock %}	
		<script src="static/js/jquery.min.js"></script>
		<script src="static/concise/js/concise.min.js"></script>		
	</body>

</html>
